<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Welcome!</h5>
          <p>
            <strong>FoodyCorner is for you... it's a place for your food dreams, recipes, sharing, and caring.</strong></p>
          <p>
          <p>
            <strong>So come in, look around, grab a recipe or two. You can enter your recipes, share them, make foody frieds, and more.</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
