/* header */

#navbar {
	height: 100px;
	background-color: #6b092a;
}

/* #logo {
	background: url(../img/logo.png);
} */

.dropdown:hover>.dropdown-menu {
	display: block;
  }
  
.dropdown>.dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
  }



/* Footer */

.jumboFoot {
	margin-bottom: 0;
}

#jumboFoot1 {
	/* background-color: rgb(200, 193, 13); */
	background-color: #6b092a;

}

#jumboFoot2 {
	background-color: rgb(203, 51, 98);
	
}

#footerLinks {
	font-size: 2em;
}

#content {
	height:100vh;	  
}

/* index */

/* Working method */
.tinted-image {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      /* rgba(200, 193, 13, 0.45), 
			rgba(200, 193, 13, 0.45) */
			rgba(200, 193, 13, 0.45), 
      rgba(200, 193, 13, 0.45)
    ),
    /* bottom, image */
		url("/images/pexels-photo-691114.jpeg");
		background-repeat: no-repeat; 	
}
	
.fill {
	background-size: cover;
  height: 100%;
  overflow: hidden;
}

/* images and div food2fork api*/

.images{
	width: 250px;
	height: 200px;
}
.card{
	width:250px;
	display: inline-block;
	margin: 10px;
}

/* allows scrolling for a specific div */
body{
	height: 1000px;
}
div{
	position: relative;
}
.content2 {
	height: 900px;
  overflow: scroll;
	width: 100%;
}


/* misc */

