/* header */

#navbar {
	height: 100px;
	background-color: #6b092a;
}

/* Sign Up Modal  */

.modal-content {
	background:#6b092a;
}

#modalClose {
	opacity: 1;
}


.dropdown:hover>.dropdown-menu {
	display: block;
  }
  
.dropdown>.dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
	}
	
.dropdown-menu {
	text-align: right
}



/* Footer */

.jumboFoot {
	margin-bottom: 0;
}

#jumboFoot1 {
	background-color: rgb(200, 193, 13);
	/* background-color: #6b092a; */

}

#jumboFoot2 {
	/* background-color: rgb(203, 51, 98); */
	background-color: #6b092a;
}

#footerLinks {
	font-size: 2em;
}

#content {
	height:100vh;	  
}

/* index */

/* Working method */
.tinted-image {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      /* rgba(200, 193, 13, 0.45), 
			rgba(200, 193, 13, 0.45) */
			rgba(200, 193, 13, 0.35), 
      rgba(200, 193, 13, 0.35)
    ),
    /* bottom, image */
		url("/images/pexels-photo-691114.jpeg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover; 	
}
	
.fill {
	background-size: cover;
  height: 100%;
  overflow: hidden;
}

/* misc */

/* images and div food2fork api*/

.images{
	width: 250px;
	height: 200px;
}
.card{
	width:250px;
	display: inline-block;
	margin: 10px;
}

/* allows scrolling for a specific div */

.content2 {
	height: auto;
	max-height: 900px;
  overflow-y: scroll;
	width: 100%;
}

.recipe-form{
	color: white;
}


/* misc */

