/* header */

#navbar {
	height: 135px;
	background-color: #eae7e8;
}

.dropdown:hover>.dropdown-menu {
	display: block;
  }
  
.dropdown>.dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
  }

#content {
	height:100vh;
}

/* Footer */

.jumboFoot {
	margin-bottom: 0;
}

#jumboFoot1 {
	background-color: #c8c10d;
}

#jumboFoot2 {
	background-color: #cb3362;
}

/* misc */

#right {
	float: right;
}